# Use this notebook for your 3 choices of APIs

# My chosen APIs:

## Books:
**1. Open Library:** Books, book covers and related data.

https://openlibrary.org/developers/api

## Health:
**2. Humanitarian Data Exchange:**	Humanitarian Data Exchange (HDX) is open platform for sharing data across crises and organisations.

https://data.humdata.org/

**3. Nutritionix:** Worlds largest verified nutrition database.

https://developer.nutritionix.com/

## Import Libraries

In [1]:
import pandas as pd
import requests
import json
from pandas import json_normalize

## 1. Open Library

### Create a DataFrame

In [2]:
# Function to create a DataFrame from a given URL of an API
def create_dataframe_from_api(api_url):
    # Send a GET request to the API
    response = requests.get(api_url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the JSON data from the response
        data = response.json()
        
        # Normalize the JSON data into a flat table
        df = json_normalize(data)
        
        # Return the created DataFrame
        return df
    
    else:
        # Print an error message if the request was unsuccessful
        print(f"Failed to retrieve data: {response.status_code}")
        return pd.DataFrame()

In [3]:
# Call the function
api_url = "https://openlibrary.org/people/mekBot/books/already-read.json" 
df = create_dataframe_from_api(api_url)

# The df variable now contains the DataFrame with the data from the API.

In [4]:
df

   page                                reading_log_entries
0     1  [{'work': {'title': 'The Last Man Who Knew Eve...

In [5]:
#df["reading_log_entries"][0]

In [6]:
# Initialize an empty list to store the extracted data
extracted_data = []

# Iterate over each row in the DataFrame
# Extract the 'title' and 'author_names' from each 'work' entry in 'reading_log_entries'
for index, row in df.iterrows():
    # Get the list of reading log entries for the current row
    reading_log_entries = row['reading_log_entries']
    
    # Iterate through each entry in the reading log entries
    for entry in reading_log_entries:
        # Each entry is a dictionary, and the 'work' key contains another dictionary
        work_info = entry['work']
        
        # Now we can extract 'title' and 'author_names' from work_info
        title = work_info.get('title')  # Using .get() to avoid KeyError if 'title' doesn't exist
        author_names_list = work_info.get('author_names', [])  # Provide a default empty list if 'author_names' doesn't exist
        
        # Convert the list of author names to a string, joined by a comma and a space
        author_names = ', '.join(author_names_list)
        
        # Append the extracted data to the list as a dictionary
        extracted_data.append({'title': title, 'author_names': author_names})

# Create a new DataFrame with the extracted data
titles_authors_df = pd.DataFrame(extracted_data)

# Display the new DataFrame
titles_authors_df

                               title                          author_names
0   The Last Man Who Knew Everything      Andrew Robinson, Andrew Robinson
1                    Charlotte's Web                           E. B. White
2                           Attached                           Amir Levine
3   Maybe You Should Talk to Someone                         Lori Gottlieb
4                      Autobiography  Benjamin Franklin, Benjamin Franklin
..                               ...                                   ...
87                  The demon spirit                       R. A. Salvatore
88                    The Highwayman                       R. A. Salvatore
89                            Assata                         Assata Shakur
90            High Output Management                       Andrew S. Grove
91                 The Crystal Shard                       R. A. Salvatore

[92 rows x 2 columns]

### Possible projects

Recommend books based on books already read.

## 2. Humanitarian Data Exchange

### Escalations in Gaza - Displaced Persons in UNRWA Shelters in Gaza

In [7]:
# Call the function
api_url2 = "https://proxy.hxlstandard.org/data/download/Data_on_displaced_persons_in_UNRWA_shelters_by_governorate.objects.json?dest=data_edit&filter01=select&filter-label01=remove+adm1&select-query01-01=%23adm2%3DGaza+Strip&select-reverse01=on&filter02=add&filter-label02=adm2+code&add-tag02=%23adm2%2Bcode&add-header02=Governorate+p-code&add-before02=on&filter03=add&filter-label03=adm2+name&add-tag03=%23adm2%2Bname&add-value03=%7B%7B%23adm2%2Bname%2Borig%7D%7D&add-header03=Governorate&add-before03=on&filter04=add&filter-label04=adm1+code&add-tag04=%23adm1%2Bcode&add-value04=PS02&add-header04=Territory+p-code&add-before04=on&filter05=add&filter-label05=adm1+name&add-tag05=%23adm1%2Bname&add-value05=Gaza+Strip&add-header05=Territory&add-before05=on&filter06=add&filter-label06=date&add-tag06=%23date&add-value06=%7B%7B%23date%7D%7D&add-header06=Date&add-before06=on&filter07=merge&filter-label07=add+pcodes&merge-url07=https://docs.google.com/spreadsheets/d/1iH7HYkHXtiv6_1PO-MeaUMJa4dALVhRnOj3pMqkEslg/edit?usp%3Dsharing&merge-keys07=%23adm2%2Bname&merge-tags07=%23adm2%2Bcode&merge-replace07=on&merge-overwrite07=on&filter08=add&filter-label08=uncertain&add-tag08=%23meta%2Buncertain&add-header08=Uncertain&filter09=replace&filter-label09=flag+uncertain&replace-pattern09=%5E$&replace-regex09=on&replace-value09=y&replace-tags09=%23meta%2Buncertain&replace-where09=%23*~%5C*&filter10=clean&filter-label10=fix+dates+and+numbers&clean-date-tags10=%23date&clean-num-tags10=%23affected,%23capacity&filter11=replace&filter-label11=remove+dashes&replace-pattern11=-&replace-regex11=on&replace-tags11=%23affected,%23capacity&filter12=cut&filter-label12=remove+%2Borig&cut-exclude-tags12=%23*%2Borig&filter13=select&filter-label13=remove+comment+rows&select-query13-01=%23date~%5Cd%7B4%7D-%5Cd%7B2%7D-%5Cd%7B2%7D&tagger-match-all=on&tagger-01-header=date&tagger-01-tag=%23date%2Borig&tagger-02-header=governorate&tagger-02-tag=%23adm2%2Bname%2Borig&tagger-03-header=cumulative+displaced+persons+in+unrwa+shelters&tagger-03-tag=%23affected%2Bdisplaced%2Bshelters%2Bcumulative&tagger-04-header=daily+displaced+persons+in+unrwa+shelters&tagger-04-tag=%23affected%2Bdisplaced%2Bshelters%2Bdaily&tagger-05-header=cumulative+unrwa+shelters&tagger-05-tag=%23capacity%2Bshelters%2Bcumulative&tagger-06-header=daily+unrwa+shelters&tagger-06-tag=%23capacity%2Bshelters%2Bdaily&header-row=1&url=https://drive.google.com/file/d/19a3KG3J5FcOkrz9l72D3e-ifpicEZ7nY/view?usp%3Ddrive_web" 
df = create_dataframe_from_api(api_url2)
df.head()

,#adm1+code,#adm1+name,#adm2+code,#adm2+name,#affected+cumulative+displaced+shelters,#affected+daily+displaced+shelters,#capacity+cumulative+shelters,#capacity+daily+shelters,#date,#meta+uncertain
0,PS02,Gaza Strip,PS0255,Gaza North,34350,,19,,2023-10-08,
1,PS02,Gaza Strip,PS0260,Gaza,15716,,21,,2023-10-08,
2,PS02,Gaza Strip,PS0265,Deir Al Balah,3332,,4,,2023-10-08,
3,PS02,Gaza Strip,PS0270,Khan Younis,10050,,11,,2023-10-08,
4,PS02,Gaza Strip,PS0275,Rafah,10090,,9,,2023-10-08,

In [8]:
df.shape

(30, 10)

### Possible projects

- Historical Trend Analysis
- Displacement Pattern Mapping
- Legal and Human Rights Analysis
- Demographic Impact Study

## 3. Nutritionix

In [9]:
# I need an API key so I can't just call the previous function

In [10]:
# API key
api_key = "3ebfe37ee151e24d07f52985a4ff367d"

# API URL
url = "https://trackapi.nutritionix.com/v2/natural/nutrients"

# Data we want to send to the API (a query for a food item)
data = {
    "query": "grape",
}

# Request headers, including your API key
headers = {
    "Content-Type": "application/json",
    "x-app-id": "62658006",  # App ID
    "x-app-key": api_key,
}

# Make the POST request
response = requests.post(url, headers=headers, json=data)

# Check if the request was successful
if response.status_code == 200:
    # Convert the response to a DataFrame
    df3 = pd.json_normalize(response.json())
else:
    print("Error in the request:", response.status_code)

df3

                                               foods
0  [{'food_name': 'grape', 'brand_name': None, 's...

In [11]:
print(df3)

                                               foods
0  [{'food_name': 'grape', 'brand_name': None, 's...

In [12]:
# 'foods' is the column with dictionaries
# We first ensure that the entries in 'foods' are actual dictionaries
# If they are strings that represent dictionaries, we would need to convert them first
# We use ast.literal_eval() to safely evaluate a string as a Python expression

import ast

In [13]:
# Convert string representations of dictionaries to actual dictionaries (if necessary)
df3['foods'] = df3['foods'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Use json_normalize to convert dictionaries to DataFrame rows
# This assumes that each cell in 'foods' column contains a list with a single dictionary
df4 = pd.json_normalize(df3['foods'].explode())

In [14]:
# Set the pandas display options to show all columns
pd.set_option('display.max_columns', None)

# Now when you view the DataFrame, it should show all columns
df4

,food_name,brand_name,serving_qty,serving_unit,serving_weight_grams,nf_calories,nf_total_fat,nf_saturated_fat,nf_cholesterol,nf_sodium,nf_total_carbohydrate,nf_dietary_fiber,nf_sugars,nf_protein,nf_potassium,nf_p,full_nutrients,nix_brand_name,nix_brand_id,nix_item_name,nix_item_id,upc,consumed_at,source,ndb_no,alt_measures,lat,lng,meal_type,sub_recipe,class_code,brick_code,tag_id,metadata.is_raw_food,tags.item,tags.measure,tags.quantity,tags.food_group,tags.tag_id,photo.thumb,photo.highres,photo.is_user_uploaded
0,grape,None,10,grapes,49,33.81,0.08,0.03,0,0.98,8.87,0.44,7.59,0.35,93.59,9.8,"[{'attr_id': 203, 'value': 0.3528}, {'attr_id'...",None,None,None,None,None,2023-11-25T11:51:29+00:00,1,9132,"[{'serving_weight': 126, 'measure': 'NLEA serv...",None,None,1,None,None,None,None,False,grape,None,10.0,3,586,https://nix-tag-images.s3.amazonaws.com/586_th...,https://nix-tag-images.s3.amazonaws.com/586_hi...,False

### Possible Projects

Regarding a project idea using this data, considering that the DataFrame contains nutritional information about foods, one potential project could be:

**Nutrition and Diet Management Application**: We could develop an application that allows users to track their daily food intake and monitor their nutritional values against recommended dietary guidelines. The app could have features like:

- **Daily Log**: Users can log what they eat each day, and the app will aggregate the nutritional information.
- **Diet Analysis**: Analyze the user's dietary habits over time to identify deficiencies or excesses in certain nutrients.
- **Meal Planning**: Suggest meal plans based on the user's dietary needs, preferences, and nutritional goals.
- **Health Recommendations**: Based on the user's nutrition log, provide recommendations for foods that can help them meet their health goals.
- **Educational Content**: Provide insights about the importance of each nutrient and its role in the body.

This type of project can be both educational and practical, helping users to make informed decisions about their diet and potentially leading to healthier lifestyles.